# Ignore the Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.venv/
env/
venv/
qdrant_data


# Ignore build artifacts
*.o
*.a
*.out
*.log
*.obj
*.so
*.dll
*.exe
*.dylib

# Ignore compiled code
*.class
*.jar
*.war

# Ignore version control files
.git/
.gitignore
.gitattributes
.hg/
.hgignore
.svn/
.idea/
.vscode/
.vagrant/

# Ignore Docker-specific files and directories
.dockerignore
docker-compose.yml
Dockerfile

# Ignore node_modules (if you're using JavaScript/Node.js)
node_modules/
npm-debug.log
yarn.lock

# Ignore temporary and backup files
*~
*.swp
*.bak
*.tmp

# Ignore files related to documentation
docs/
*.md

# Ignore test directories and test output
tests/
test_output/
coverage/
*.cover
*.coverage
junit*.xml

